<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- properties의 파일의 내용을 불러와 적용할때 사용하는 태그 -->
	<properties resource="driver.properties" />
	
	
	<!-- 접속연결할때 추가적인 내용을 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	
	<!-- mapper에서 type을 설정할 때 별칭설정 -->
	<typeAliases>
		<typeAlias type="com.mybatisdy.model.vo.Employee" alias="emp" />
		<typeAlias type="com.mybatisdy.model.vo.Department" alias="dept" />
		<typeAlias type="com.mybatisdy.model.vo.Job" alias="job" />
	</typeAliases>
	

	<environments default="bs">
		<environment id="bs">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${pw}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mappers/emp/emp-mapper.xml" />
		<mapper resource="mappers/job/job-mapper.xml" />
	</mappers>
</configuration>
