<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.dm.spring.demo.model.vo.Demo" alias="demo" />
		<typeAlias type="com.dm.spring.common.StringArrayTypeHandler" alias="strArr" />
		<typeAlias type="com.dm.spring.member.model.vo.Member" alias="member" />
		<typeAlias type="com.dm.spring.memo.model.vo.Memo" alias="memo" />
		<typeAlias type="com.dm.spring.board.model.vo.Board" alias="board" />
		<typeAlias type="com.dm.spring.board.model.vo.Attachment" alias="attachment" />
	</typeAliases>
</configuration>