<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo">
	<insert id="insertDemo" parameterType="demo">
		INSERT INTO DEV VALUES(
		seq_dev_no.nextval,
		#{devName},
		#{devAge},
		#{devEmail},
		#{devGender},
		<!-- <foreach item="i" collection="devLang" open="'" close="'" separator=",">${i}</foreach> -->
		#{devLang, typeHandler=strArr}
		)
	</insert>
</mapper>