<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>04_session_cookie2</display-name>
  <!--
  	모든 서블릿에서 가져가 쓸수 있는 공통 고정값..
   -->
   
   <context-param>
   		<param-name>admin</param-name>
   		<param-value>test@naver.com</param-value>
   </context-param>
</web-app>