<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emp">

	<resultMap id="employeeMap" type="emp">
		<!-- id 는 primary key... -->
		<id column="EMP_ID" property="empId" />
		<result column="EMP_NAME" property="empName" />
		<result column="EMP_NO" property="empNo" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="DEPT_CODE" property="deptCode" />
		<result column="JOB_CODE" property="jobCode" />
		<result column="SAL_LEVEL" property="salLevel" />
		<result column="SALARY" property="salary" />
		<result column="BONUS" property="bonus" />
		<result column="MANAGER_ID" property="managerId" />
		<result column="HIRE_DATE" property="hireDate" />
		<result column="ENT_DATE" property="empDate" />
	</resultMap>
	
	<select id="selectEmpAll" resultMap="employeeMap">
		SELECT * FROM Employee
	</select>
	
	<select id="searchEmp" resultMap="employeeMap" parameterType="map">
		SELECT *
		FROM (
			SELECT e.*, DECODE(SUBSTR(EMP_NO, 8, 1), '1', 'M', '2', 'F') AS GENDER 
			FROM EMPLOYEE e 
		)
		<where>		
		<!-- <trim prefix="where" prefixOverrides="AND||OR"> -->
			 
			 <if test="keyword != null and keyword != ''"> 
		        AND ${type} LIKE '%'||#{keyword}||'%'
			 </if>
			 
			 <if test="gender != null and gender != ''">
			 	AND GENDER=#{gender}
			 </if>
			
		     <if test="salary != null and salary != ''">
		     	
		     	 <if test="salFlag eq 'ge'">
		     		AND SALARY >= #{salary}
		     	 </if>
		     	
		     	 <if test="salFlag eq 'le'">
		     		AND SALARY <![CDATA[<=]]> #{salary}
		     	 </if>
	     	
		     	<!-- <choose>
		     		<when test="salFlag eq 'ge'">
		     			AND SALARY >= #{salary}
		     		</when>
		     		<otherwise>
		     			AND SALARY <![CDATA[<=]]> #{salary}
		     		</otherwise>
		     	</choose> -->
		     </if>
		     <if test="hireDate != null and hireDate != ''">
		     	
		     	<if test="dateFlag eq 'ge'">
		     		AND HIRE_DATE >= #{hireDate}
		     	</if>
		     	
		     	<if test="dateFlag eq 'le'">
		     		AND HIRE_DATE <![CDATA[<=]]> #{hireDate}
		     	</if>	     	
		     </if>
		     
		     <if test="jobCode != null and jobCode != ''">
		     	AND JOB_CODE IN
		     	<foreach collection="jobCode" item="j" open="(" close=")" separator=",">
		     	#{j}
		     	</foreach>
		     </if>
		     
		     
		     
		     
		 <!-- </trim> -->
		 </where>
				   
	</select>
</mapper>
