<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student">
	<insert id="inerstStudent">
		INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL, '갓갓갓갓성', '01012341234','darkCp', '삼각지', DEFAULT)
	</insert>
	
	<!-- 
		인자를 전달받는 sql 태그는 parameterType 속성을 사용한다.
		인자는 #{} 로 표시한다
	-->
	<insert id="insertStudentName" parameterType="string">
		INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL, #{name}, '01012341234','darkCp', '삼각지', DEFAULT)
	</insert>
	
	<!-- 
		parameterType 으로 생성한 클래스가 전달될때는
		패키지명부터 클래스명 까지 작성해줘야한다..
	 -->
	<insert id="insertStudentAll" parameterType="com.mybatis.model.vo.Student">
		INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL, #{name}, #{phone}, #{email}, #{address}, DEFAULT)
	</insert>
	
	<update id="updateStudent" parameterType="com.mybatis.model.vo.Student">
		UPDATE STUDENT
     	SET STUDENT_NAME = #{name},
	        STUDENT_TEL = #{phone},
	        STUDENT_EMAIL = #{email}
       	WHERE STUDENT_NO = #{studentNo} 
	</update>
	
	<delete id="deleteStudent" parameterType="_int">
		DELETE FROM STUDENT WHERE STUDENT_NO = #{no}
	</delete>
	
	<!-- 
	
		SELECT 문은 SELECT 태그를 이용해서 설정을 한다.
		id속성, parameterType 속성
		select 문을 실행하면 반드시 결과가 있음.. 때문에 결과에 대한 설정인 resultType || resultMap 속성을 설정해줘야한다..
		
		vo 객체와 resultSet을 매핑해줄때 vo객체의 필드명과 resultSet에서 이용하는 column 명이 같으면 자동으로 설정해줌..
		만약 필드명과 column 명이 다르면 매핑을 못시켜줌
		
		
		resultType : vo 객체의 타입 || 기본타입 을 작성해주는것 -> 컬럼명과 필드명이 같을 때
		
		resultMap : vo 객체가 아닌 중간에 맵핑시켜주는 resultMap 태그에서 선언한 중간객체를 사용할때 작성
		
	 -->
	<select id="selectStudentCount" resultType="_int">
		SELECT COUNT(*) FROM STUDENT
	</select>
	
	<resultMap id="studentMap" type="com.mybatis.model.vo.Student">
		<!-- id 는 primary key... -->
		<id column="student_no" property="studentNo" />
		<result column="student_name" property="name" />
		<result column="student_tel" property="phone" />
		<result column="student_email" property="email" />
		<result column="student_addr" property="address" />
	</resultMap>
	
	<!-- 컬럼명과 핃드명이 같으면 조회가능 -->
	<select id="selectStudent" parameterType="_int" resultMap="studentMap">
		SELECT *
	   	FROM STUDENT
	   	WHERE STUDENT_NO=#{no}
	</select>
	
	<select id="selectStudentName" parameterType="string" resultType="com.mybatis.model.vo.Student">
		SELECT * FROM STUDENT WHERE STUDENT_NAME = #{name}
	</select>
	
	<select id="selectStudentAll" resultMap="studentMap">
		SELECT * FROM STUDENT
	</select>
	
</mapper>


